<div >
	<% if flash[:alert] %>
	<p id="notice">
		<%= flash[:alert]%></p>
	<% end %>

	<fieldset>
		<legend>Sign In</legend>
		<div class="div-signin-layout span8 offset2">
			<div class="span5 div-signin-content">
			</div>
			<div class="span3 div-signin-input">
				<%= form_tag do %>
				<div class="control-group">
					<dl class="dl-horizontal">
						<dt>
							<label for="account" class="h-align">Account</label>
						</dt>
						<dd>
							<%=text_field_tag :account,nil,:placeholder=>"Account"%></dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>
							<label for="password" class="h-align">Password</label>
						</dt>
						<dd>
							<%=password_field_tag :password,nil,:placeholder=>"Password"%></dd>
					</dl>
					<dl class="dl-horizontal">
						<dd>
							<%=submit_tag "Sign In",:class=>"btn btn-primary"%></dd>
					</dl>
				</div>
				<%end%></div>
				<div class="span6 offset1">
					welcome
				</div>
		</div>

	</fieldset>
</div>