<div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Add To Group
      <span class="caret"></span>
    </a>
    <ul id="add_group_menu" class="dropdown-menu">
      <%@groups.each do |group|%>
      <li>
        <%=link_to group.name,"#"%>
        <%=form_tag add_group_follow_path(group.id),:class=>
        "hidden" do%>
        <input type="hidden" id="hd_group_<%=group.id%>
        " name="follow_ids" />
        <%end%></li>
      <%end%></ul>
  </div>

  <%if params[:group_id].present?%>
  <a id="btn_update" type="button" data-toggle="model" data-target="#group_model" href="#" class="btn btn-primary">update</a>
  <%=link_to "Delete", group_path(params[:group_id]),:method=>:delete,
  :confirm=>'Are you sure delete the group?',:class=>"btn btn-primary"%>
  <%end%></div>

<hr>

<div id="follow_list">
  <% if @follows!=nil%>
  <% @follows.each do |user|%>

  <div id="<%=user.id%>
    " class="mediumListIconTextItem">
    <%=image_tag("gravatar-user-420.png",:size=>
    "60X60",:class=>"mediumListIconTextItem-Image")%>
    <div class="mediumListIconTextItem-Detail">
      <h4>
        <%=user.account%></h4>
      <% if user.is_fans_of_current? %>
      <div> <i class="icon-user"></i> <i class="icon-arrow-left"></i>
        <i class="icon-arrow-right"></i>
        <i class="icon-user"></i>
      </div>
      <%else%>
      <div>
        <i class="icon-ok"></i>
        followed
      </div>
      <%end%>

      <% groups=user.get_groups_in(session[:user_id].user_id)%>
      <%if(groups==nil || groups.first==nil)%>
      <div class="drop-down">
        <a class="dropdown-toggle" id="<%=user.id%>
          " data-toggle="dropdown" data-target="#" href="#">ungrouped <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="<%=user.id%>
          ">
          <%groups.each do |group|%>
          <li>
            <%=group.name%></li>
          <%end%></ul>
      </div>
      <%else%>
      <span>
        <%=groups.first.name%></span>
      <%end%></div>
  </div>

  <%end%>
  <%end%></div>

<input type="hidden" id="hd_selected_follows" />

<%content_for :scripts do %>
<script type="text/javascript">

  $(document).ready(function() {

    /*
      when select or unselect a user then put correspondint user's
      id into hidden's value
    */
    $('#follow_list').on('click', '.mediumListIconTextItem', function(e) {
      e.preventDefault();

      var item = $(this),
        hid = $('#hd_selected_follows'),
        ids = hid.val(),
        id = item.attr('id');

      item.toggleClass('selected');

      var reg = new RegExp("[;]?" + id + "[;]?");

      if (ids.search(reg) > -1) {
        ids = ids.replace(reg, ';');
      } else if (ids == "") {
        ids = id;
      } else {
        ids += ";" + id;
      }

      if (ids.charAt(0) == ";") ids = ids.substring(1, ids.length);

      if (ids.charAt(ids.length - 1) == ";") ids = ids.substring(0, ids.length - 1);

      hid.val(ids);
    });
    /*
      when the add user to group menu has been clicked,then get
      the id list of users which are going to be added from the hidden field,submit the action
    */
    $('#add_group_menu').find('li').each(function() {
      var menuItem = $(this),
        form = menuItem.find('form');

      menuItem.click(function() {
        var ids = $('#hd_selected_follows').val();
        var hd = form.find("input[name='follow_ids']");

        hd.val(ids);

        form.submit();
      });
    });

    <%if@group != nil %> $('#btn_update').click(function() {
      var model = $('#group_model'),
        form = model.find('form'),
        hMethod = form.find('input[name="_method"]'),
        tName = form.find('#group_name'),
        tDesc = form.find('#group_description'),
        hId = form.find('#group_id'),
        header = form.find('#model_title');

      form.attr('action', '<%=group_path(@group.id)%>');
      //form.attr('method','put');
      hMethod.val('put');

      tName.val('<%=@group.name%>');
      tDesc.val('<%=@group.description%>');
      hId.val('<%=@group.id%>');
      header.text('Edit group');

      $("#group_model").modal('show');
    }); 
    <% end %>}); </script>

<%end%>