<div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      Add To Group
      <span class="caret"></span>
    </a>
    <ul id="add_group_menu" class="dropdown-menu">
      <%@groups.each do |group|%>
      <li>
        <%=link_to group.name,"#"%>
        <%=form_tag add_group_follow_path(group.id),:class=>
        "hidden" do%>
        <input type="hidden" id="hd_group_<%=group.id%>
        " name="follow_ids" />
        <%end%></li>
      <%end%></ul>
  </div>
</div>

<hr>

<div id="follow_list">
  <% if @follows!=nil%>
  <% @follows.each do |user|%>

  <div id="<%=user.id%>" class="mediumListIconTextItem">
    <%=image_tag("gravatar-user-420.png",:size=>
    "60X60",:class=>"mediumListIconTextItem-Image")%>
    <div class="mediumListIconTextItem-Detail">
      <h4>
        <%=user.account%></h4>
      <% if user.is_fans_of_current? %>
      <div> <i class="icon-user"></i> <i class="icon-arrow-left"></i>
        <i class="icon-arrow-right"></i>
        <i class="icon-user"></i>
      </div>
      <%else%>
      <div>
        <i class="icon-ok"></i>
        followed
      </div>
      <%end%>

      <%if(user.groups==nil || user.groups.first==nil)%>
      <div class="drop-down">
        <a class="dropdown-toggle" id="<%=user.id%>
          " data-toggle="dropdown" data-target="#" href="#">ungrouped <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="<%=user.id%>
          ">
          <%@groups.each do |group|%>
          <li>
            <%=group.name%></li>
          <%end%></ul>
      </div>
      <%else%>
      <span>
        <%=user.groups.first.name%></span>
      <%end%></div>
  </div>

  <%end%>
  <%end%></div>

<input type="hidden" id="hd_selected_follows" /> 

<%content_for :scripts do %>
<script type="text/javascript">

  $(document).ready(function() {

    $('#follow_list').on('click', '.mediumListIconTextItem', function(e) {
      e.preventDefault();

      var item = $(this),
        hid = $('#hd_selected_follows'),
        ids = hid.val(),
        id = item.attr('id');

      item.toggleClass('selected');

      var reg = new RegExp("[;]?" + id + "[;]?");

      if (ids.search(reg) > -1) {
        ids = ids.replace(reg, ';');
      } else if (ids == "") {
        ids = id;
      } else {
        ids += ";" + id;
      }

      if (ids.charAt(0) == ";") ids = ids.substring(1, ids.length);

      if (ids.charAt(ids.length - 1) == ";") ids = ids.substring(0, ids.length - 1);

      hid.val(ids);
    });

    $('#add_group_menu').find('li').each(function() {
      var menuItem = $(this),
        form = menuItem.find('form');

      menuItem.click(function() {
        var ids = $('#hd_selected_follows').val();
        var hd = form.find("input[name='follow_ids']");

        hd.val(ids);

        form.submit();
      });
    });
  });

</script>

<%end%>