<%= form_for @user,:html=>{:class=>".form-horizontal"} do |f| %>
<div class="container-fluid">
  <div class="span2">
    <%=image_tag( "gravatar-user-420.png",:size=>"60X60",:class =>"img-polaroid",:id=>"img_profile",:url=>attachments_path(:id=>@user.image_id),:attach_id=>@user.image_id) %>

    <%=f.file_field 'portrait',:id=>"attach_upload"%>
  </div>

  <div class="span8 offset1">
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %>prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %></li>
        <% end %></ul>
    </div>
    <% end %>

    <div class="control-group">
      <dl class="dl-horizontal">
        <dt>
          <%= f.label(:account,:class=>"h-align") %></dt>
        <dd>
          <%= f.text_field :account,:placeholder=>"Account" %></dd>
      </dl>

    </div>

    <%=f.hidden_field(:user_id)%>

    <% if !@user.account || @user.account.empty? %>

    <div id="password_group" class="control-group">
      <dl class="dl-horizontal">
        <dt>
          <%= f.label(:password,:class=>"h-align") %></dt>
        <dd>
          <%= f.password_field :password,:placeholder=>"Password" %></dd>
      </dl>

    </div>

    <div id="confirm_group" class="control-group">
      <dl class="dl-horizontal">
        <dt>
          <%= f.label(:password_confirmation,:class=>"h-align") %></dt>
        <dd>
          <%= f.password_field :password_confirmation,:placeholder=>"Confirm Password" %></dd>
      </dl>

    </div>
    <%end%>

    <div class="control-group">
      <dl class="dl-horizontal">
        <dt>
          <%= f.label :email,:class=>"h-align" %></dt>
        <dd>
          <%= f.text_field :email,:placeholder=>"Email" %></dd>
      </dl>

    </div>

    <div class="control-group">
      <dl class="dl-horizontal">
        <dt>
          <%= f.label :dynamic_desc,:class=>"h-align" %></dt>
        <dd>
          <%= f.text_field :dynamic_desc,:placeholder=>"Dynamic desc" %></dd>
      </dl>

    </div>

    <div class="control-group">
      <dl class="dl-horizontal">
        <dd>
          <%= f.submit :class=>"btn btn-primary" %></dd>
      </dl>
    </div>
    <% end %></div>
</div>
<% content_for :scripts do%>
<script type="text/javascript">
$(document).ready(function() {
  $("input[type='submit']").click(function(e) {
    var password = $('#user_password').val();
    var confirmPassword = $('#user_password_confirmation').val();
    var isValide = true;

    if(password===""){
      var alert = showAlert("password is empty!",$("#password_group"));
      isValide = false;
    }else if (password !== confirmPassword) {
      var alert = showAlert("two typed password are different!",$("#confirm_group"));
      isValide = false;
    }

    if(!isValide){
      //$(this).attr({disabled:true});
      e.preventDefault();

    }else{
      //$(this).attr({disabled:false});
    }

  });

  var jImg = $('#img_profile');
  if(jImg.attr('attach_id')!=0){
    lazyLoadImg(jImg[0]);
  }

  // $('#attach_upload').on('change',function onFileSelected () {
  //   jImg.attr('src',$(this).val());

  //   console.log($(this).val());
  // })

  if(window.File && window.FileReader && window.FileList && window.Blob){
    var fileUpload = $('#attach_upload')[0] ; 

    function preview (e) {
      var file = e.target.files[0];

      var reader = new FileReader();

      reader.onload=function(e){
        jImg[0].src=e.target.result;
      }

      reader.readAsDataURL(file);

    }

    fileUpload.addEventListener('change',preview,false);
  }

  function showAlert(msg,container){
    var alert = container.find("#user_alert");

    if(alert.length==0){
       alert = $("<div id='user_alert' class='alert alert-error'>"+msg+"</div>");
       container.append(alert);
    }else{
      alert.text(msg);
      alert.css({visibility:'visible'});
    }

  }
});

</script>
<%end%>