
<div id="<%=id%>" class="user-bar <%=layout_class%>
  "><a href="#" class="thumbnail">
      <%=image_tag("gravatar-user-420.png",:size=>"60X60",:url=>attachments_path(:id=>user.image_id),:attach_id=>user.image_id) %>  </a>
  <%=render "shared/user_audit",:user=>user,:align=>"center"%>

</div>

  <%content_for :scripts do%>
  <script type="text/javascript">
  	$(document).ready(function () {
  		var img = $('#<%=id%>').find('img')[0];

      if ($(img).attr('attach_id')!=0)
  		  lazyLoadImg(img);
  	});
  </script>
  <%end%>

