<fieldset>
    <legend>User Searching List</legend>
</fieldset>

<div class="span12">
    <ul>
        <%@users.each do |user|%>
        <li>
            <div class="span2">
                <ul class="thumbnails">
                    <li >
                        <a href="#" class="thumbnail">
                            <%=image_tag( "gravatar-user-420.png",:size=>"60X60") %></a>
                    </li>
                </ul>
            </div>

            <div class="span10">
                <h4>
                    <%=user.account%></h4>

                <% if user.dynamic_desc!=nil%>
                <p>
                    <%=user.dynamic_desc%></p>
                <%else%>
                <p>please write your dynamic information</p>
                <%end%>

                <ul class="inline ul-user-list">
                    <li  class="li-user-list-item">
                        following&nbsp;
                        <%=user.following_count%></li>

                    <li class="li-user-list-item">
                        fans&nbsp;
                        <%=user.fans_count%></li>
                    <li class="li-user-list-item">
                        message &nbsp;
                        <%=user.msg_count%></li>

                </ul>
            </div>
            <div class="span12">
                <hr>
            </div>

        </li>

        <%end%></ul>
</div>