<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user.user_id %>
</p>

<p>
  <b>Account:</b>
  <%= @user.account %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Dynamic desc:</b>
  <%= @user.dynamic_desc %>
</p>

<p>
  <b>Image:</b>
  <%= @user.image_id %>
</p>

