<div class="span4">
  <ul class="thumbnails">
    <li >
      <a href="#" class="thumbnail">
        <%=image_tag( "gravatar-user-420.png",:size=>"60X60") %></a>
    </li>
  </ul>
  <ul class="inline center">
    <li>
      <ul class="ul-user-bar">
        <li><span>following</span></li>
        <li>
          <%=@user.following_count%></li>
      </ul>
    </li>
    <li>
      <ul class="ul-user-bar">
        <li>fans</li>

        <li>
          <%=@user.fans_count%></li>

      </ul>
    </li>
    <li>
      <ul class="ul-user-bar">
        <li>message</li>
        <li>
          <%=@user.msg_count%></li>
      </ul>
    </li>

  </ul>
</div>

<div class="span8">
  <h3><%=@user.account%></h3>

  <% if @user.dynamic_desc!=nil%>
  <p><%=@user.dynamic_desc%></p>
  <%else%>
  <p>please write your dynamic information</p>
  <%end%>
</div>
