<div class="span12">
  <%=render 'user_bar',:user=>
  @user,:layout_class=>"span3",:id=>"profile_user_bar"%>
  <div class="span8">
    <h2>
      <%=@user.account%></h2>

    <% if @user.dynamic_desc!=nil%>
    <p>
      <%=@user.dynamic_desc%></p>
    <%end%>

    <%=link_to_if(session[:user_id].user_id==@user.user_id, "Edit Profile", edit_user_path(@user.user_id),:class=>
    "btn btn-primary") do %>
    <%end%>

    <hr>
    <ul class="inline">
      <%if @user.is_following_by_current? && @user.is_fans_of_current? %>
      <li>
        <div> <i class="icon-user"></i> <i class=" icon-arrow-left"></i>
          <i class=" icon-arrow-right"></i>
          <i class="icon-user"></i>
        </div>
      </li>
      <%end%>

      <li>
        <%if @user.is_following_by_current?%>
        <%=form_tag follows_path()+"/"+@user.user_id.to_s,:method=>
        :delete do%>
        <%=submit_tag "unfollow",:class=>
        "btn btn-primary"%>
        <%end%></li>

      <%end%></ul>
  </div>
</div>

<div class="span12">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">Home</a>
    </li>
  </ul>
</div>

<div class="span12">
  <ul class="unstyled"></ul>
  <div id="loading_bar"  class="progress progress-indeterminate offset4">
    <div class="bar"></div>
  </div>
</div>
  <div class="span12 pagination" id="page_feeds">

  </div>

<%=content_for :scripts do%>
<script type="text/javascript">
  $(document).ready(function (e) {
    function onload (e) {
      $.getJSON('<%=self_feeds_path(session[:user_id])%>.json',function (data) {
        console.log(data);
      });
    }

    onload();
  });

</script>
<%end%>