<% container_class="inline user-bar-info"%>
<% container_class << " center" if align=="center"%>
<ul class="<%=container_class%>
  ">
  <li class="user-bar-info-cell">
    <ul class="span1">
      <li>
        <%=link_to "following",follows_url<<"?user_id=#{user.user_id}"%></li>
      <li class="user-bar-info-number">
        <%=user.following_count%></li>
    </ul>
  </li>
  <li class="user-bar-info-cell">
    <ul class="span1">
      <li>
        <%=link_to "fans",fans_url<<"?user_id=#{user.user_id}"%></li>
      <li class="user-bar-info-number">
        <%=user.fans_count%></li>

    </ul>
  </li>
  <li class="user-bar-info-cell">
    <ul class="span1">
      <li>
        <%=link_to "message",user_path(user.user_id)%></li>
      <li class="user-bar-info-number">

        <%=user.msg_count%></li>
    </ul>
  </li>

</ul>