<li>
	<div class="span2">
		<a href="#" class="thumbnail">
			<%=image_tag("",:size=>"60X60",:url=>attachments_path(:id=>user.image_id),:attach_id=>user.image_id) %></a>
	</div>

	<div class="span10">

		<div class="pull-right">
			<%=form_tag(follow_path(user.user_id),:method=>
			:delete) do %>
			<%=submit_tag "unfollow",:class=>
			"btn btn-primary"%>
			<%end%></div>
		<h4>
			<%=link_to user.account,user_path(user.user_id)%></h4>

		<% if user.dynamic_desc!=nil%>
		<p>
			<%=user.dynamic_desc%></p>
		<%else%>
		<p>please write your dynamic information</p>
		<%end%>
		<%=render "shared/user_audit",:user=>user,:align=>"left"%></div>
	<div class="span12">
		<hr></div>

</li>